.style1 {
    position: relative;
    left: 34%;
}
.bouton {
	border:none;
	padding:16px 30 16px 30;
	border-radius:75%;
	border-bottom:4px solid #000000;
	font:bold 13px Arial;
	color:rgb(255, 255, 255);
    background:rgb(83, 83, 83);
    position: relative;
    top: 100px;
}
.bouton2 {
	border:none;
	padding:16px 30 16px 30;
	border-radius:75%;
	border-bottom:4px solid #000000;
	font:bold 13px Arial;
	color:rgb(255, 255, 255);
    background:rgb(83, 83, 83);
    position: relative;
    top: 100px;
    left: 35%;
}
.bouton3 {
	border:none;
	padding:16px 30 16px 30;
	border-radius:75%;
	border-bottom:4px solid #000000;
	font:bold 13px Arial;
	color:rgb(255, 255, 255);
    background:rgb(83, 83, 83);
    position: relative;
    top: 100px;
    left: 72%;
}
.bouton4 {
    display: inline-block;
    border-radius: 4px;
    background-color: #e6a00a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    right: 520px;
    top: 465px;
  }
  
  .bouton4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .bouton4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .bouton4:hover span {
    padding-right: 25px;
  }
  
  .bouton4:hover span:after {
    opacity: 1;
    right: 0;
  }